<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1"
	thread-count="5" >
    <test name="WIN10TEST" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="MacOS Catalina"/>
        <classes>
            <class name="Runner.TestRunner" />
        </classes>
    </test> <!-- Test -->
    <test name="WIN8TEST" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="MacOS Catalina"/>
        <classes>
            <class name="Runner.TestRunner" />
        </classes>
    </test> <!-- Test -->
    <test name="MACTEST" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="Microsoft Edge"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="MacOS Catalina"/>
        <classes>
          <class name="Runner.TestRunner" />
        </classes>
    </test> <!-- Test -->

</suite>